$text-dark: (
  "primary": #979899,
  "heading": #a4a5a6,
  "accent": #e0a80d,
  "hover": #fefaee,
);

$text-light: (
  "primary": #939393,
  "heading": #727272,
  "accent": #e0a80d,
  "hover": #e0a707,
);

$bg-dark: (
  "primary": #2d2e2e,
  "secondary": #2b2c2c,
  "tertiary": #292a2a,
  "quaternary": #282929,
);

$bg-light: (
  "primary": #ffffff,
  "secondary": #fcfcfc,
  "tertiary": #fbfbfb,
  "quaternary": #f8f8f8,
  "neutral": #fafafa,
);

$dark-border-color: #404242;
$light-border-color: #ececec;
